@charset "UTF-8";
/* FUENTE SERRANO & MORENATE: font-family: 'Lora', serif; */
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
/* Fuente texto sin destacar: font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 0 15px #000001;
  padding: 5px 15px;
  z-index: 999; }
  header div a .logo_Image {
    width: 60px;
    height: 60px; }
  header .header__burguerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    font-size: 2rem;
    background-color: white;
    border: none;
    color: grey;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in; }
    header .header__burguerMenu:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  header input#menu {
    display: none; }
    header input#menu:checked ~ .header__menudespegable {
      display: block; }
  header nav .header__menudespegable {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
    background-color: white; }
    header nav .header__menudespegable .header__closeMenu {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 1.5rem;
      color: #23036b; }
    header nav .header__menudespegable ul .lista__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
      header nav .header__menudespegable ul .lista__menu li {
        text-transform: uppercase;
        list-style: none;
        font-weight: 600;
        border-radius: 5px;
        padding: 1rem; }
        header nav .header__menudespegable ul .lista__menu li a {
          text-decoration: none;
          color: #23036b; }
        header nav .header__menudespegable ul .lista__menu li:hover {
          background-color: #fafafa; }

/* Media queries HEADER*/
@media screen and (min-width: 768px) {
  header div a .logo_Image {
    width: 70px;
    height: 70px; }
  header .header__burguerMenu {
    display: none; }
  header .header__menudespegable {
    display: initial;
    position: inherit;
    height: 80px; }
    header .header__menudespegable .header__closeMenu {
      display: none; }
      header .header__menudespegable .header__closeMenu ul {
        flex-direction: row;
        justify-content: right; } }

/* ------------- MAIN --------------*/
/* BOTÓN CONTACTAR */
main .button_contactar {
  transition: transform 0.5s; }
  main .button_contactar a {
    text-align: center; }
    main .button_contactar a:hover {
      text-decoration: none;
      color: white; }
  main .button_contactar:hover {
    background-color: #42bdf7;
    transform: scale(105%);
    color: white; }

/* ---------------- PÁGINA CONTACTO ------------------*/
/* display GRID */
.main_contacto {
  grid-area: principal;
  grid-template-rows: 1fr 1fr 3fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "titulo titulo" "parrafo parrafo" "form mapa" "form datos"; }
  .main_contacto .flex-containter__contacto {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 0 15px #000001; }
    .main_contacto .flex-containter__contacto form {
      width: 280px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      margin: 10px;
      padding: 10px; }
      .main_contacto .flex-containter__contacto form .textarea__contacto {
        resize: none;
        width: 250px;
        margin: 10px; }
      .main_contacto .flex-containter__contacto form div button {
        margin: 0px 10px 10px 10px;
        padding: 5px;
        background-color: #6d6d6d;
        border: none;
        border-radius: 5px;
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 300;
        text-decoration: none;
        color: white;
        width: 80px; }
    .main_contacto .flex-containter__contacto .mapa {
      width: 300px;
      height: 300px;
      border: 0;
      margin: 10px;
      padding: 10px; }

body {
  background-color: white;
  font-family: 'Raleway', sans-serif; }

p {
  font-size: 1rem;
  padding: 10px;
  text-align: justify; }
